.no-check-error-message {
  display: none;
  color: red;
  font-weight: bold;
  margin-bottom: 5px;
}

.show {
  display: block;
}

.error label {
  color: red;
}

.discussion-guide [type="checkbox"]{
  display: inline-block;
  max-width: inherit;
  width: auto;
}
